#container {
    width: 700px;
    height: 300px;
    background-color: aqua;
    border-top-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20%;
    box-shadow: 20px 20px 20px #2e7d32;
    text-shadow: 20px 20px 20px black;
    transition: all 1s ease-in-out 0.5s;
    overflow: auto;
}

#container:hover{
    background-color: #9e9e9e;
    border-radius: 20%;
}

body{
    background-color: rgb(54, 25, 160);
}

.Divurile {
    border: 2px solid black;
    height: 100px;
    overflow: auto;
}

.Divul2 {
    border: 5px solid black;
    width: 100px;
    height: 50px;
}

.Divurile:nth-child(1) {
    background-color: rgb(94, 94, 165) !important;
}
.Divurile:empty {
    background-color: #ffc107;
}

p:first-letter {
    font-weight: bold;
    color: red;
}

p:first-line {
    font-size: large;
    color: #8d6e63;
}

@media screen and (max-width: 600px) {
    body{
        background-color: rgb(12, 9, 209);
    }
    #container {
        width:400px;

    }
}