html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

.container{
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 

}

.content{
    border: 10px solid beige;
    background-color: white;

    border-radius: 10px;
}

.display{
    background-color: blue;
}

/*    
    height: 200px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%; 
    border: 10px solid beige;
    border-radius: 10px;

*/

.container--input{
    height: 20px;
    width: 100px;
    border: 5px solid aqua;
    width: 75%;

}


/* Sintaxa media querry 
    keyword @media [media type] ( - conditie - ) *operator*  ( - conditie - ) { cod css / scss / less / sass}
*/

